# Local Terraform directories and state
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log

# Sensitive variable files
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI config
.terraformrc
terraform.rc
